<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <link href="/assets/main.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/asgilver.jpg">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
      </head>
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>